# Hydrometric Data of Credit River (Real-Time)

The goal of this notebook is to collect the hydrometric data of Credit River and analyze it. The source data is available on https://wateroffice.ec.gc.ca/map/index_e.html?type=real_time.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets
from IPython.display import display, clear_output

The website allows us to apply the period from 2019, but the data available is only from 2022. Also the CSV format has an error on the date column so it's necessary to download a .txt format.

In [12]:
df = pd.read_csv('Ontario/Hydrometric/02HB001_HG_20240607T1338.txt', sep='\t')
df.head()

            Date (EST)  Parameter   Value (m) Approval    Qualifier
0  2022-11-07 08:05:00          46       1.32    Final  UNSPECIFIED
1  2022-11-07 08:10:00          46       1.32    Final  UNSPECIFIED
2  2022-11-07 08:15:00          46       1.32    Final  UNSPECIFIED
3  2022-11-07 08:20:00          46       1.32    Final  UNSPECIFIED
4  2022-11-07 08:25:00          46       1.32    Final  UNSPECIFIED

Now I will import every file into a single pandas DataFrame.

In [32]:
import os
folder = 'Ontario/Hydrometric'
df = None

for file in os.listdir(folder):
    df_temp = pd.read_csv(os.path.join(folder, file), sep='\t')
    station = file.split('_')[0]
    metric = file.split('_')[1]
    if(metric == 'HG'):
        metric = 'Water Level (m)'
        df_temp = df_temp.rename(columns={'Value (m)':'Value'})
    else:
        metric = 'Discharge (m³/s)'
        df_temp = df_temp.rename(columns={'Value (m³/s)':'Value'})
    df_temp['Metric'] = metric
    df_temp['Station'] = station
    # display(df_temp.head())
    if(isinstance(df, pd.DataFrame)):
        df = pd.concat([df, df_temp])
    else:    
        df = df_temp

In [37]:
df.to_csv('hydrometric_data_2022_2024.csv', sep=',', index=False)

# Hydrometric Data of Credit River (Daily)

In [21]:
daily = pd.read_csv('Ontario_Data/Hydrometric/daily.csv', sep=',')
daily = daily[(daily.PARAM == 2) & (daily.YEAR >= 2010) & (daily.YEAR < 2019)]
daily = daily.drop(['TYPE', 'SYM', 'SYM.1', 'SYM.2', 'SYM.3', 'SYM.4', 'SYM.5', 'SYM.6', 'SYM.7', 'SYM.8', 'SYM.9', 'SYM.10', 'SYM.11'], axis='columns')

In [23]:
daily.to_csv('hydrometric_data_2010_2018.csv', sep=',', index=False)
daily

,﻿ID,PARAM,YEAR,DD,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
3596,02HB001,2,2010,1,1.513,1.483,1.481,1.552,1.500,1.468,1.576,1.510,1.489,1.547,1.496,1.678
3597,02HB001,2,2010,2,1.513,1.478,1.480,1.561,1.507,1.492,1.551,1.503,1.492,1.532,1.501,1.620
3598,02HB001,2,2010,3,1.516,1.480,1.479,1.559,1.595,1.680,1.530,1.501,1.537,1.523,1.500,1.563
3599,02HB001,2,2010,4,1.504,1.477,1.477,1.553,1.554,1.605,1.516,1.501,1.573,1.512,1.502,1.539
3600,02HB001,2,2010,5,1.498,1.477,1.473,1.546,1.526,1.543,1.508,1.511,1.536,1.503,1.508,1.523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14782,02HB029,2,2018,27,4.642,4.730,4.477,NaN,4.524,4.508,4.530,4.502,4.438,4.458,4.895,4.517
14783,02HB029,2,2018,28,4.615,4.697,4.495,NaN,4.520,4.489,4.498,4.475,4.421,4.500,4.727,4.634
14784,02HB029,2,2018,29,4.607,NaN,4.552,NaN,4.505,4.462,4.464,4.459,4.420,4.497,4.632,4.719
14785,02HB029,2,2018,30,4.571,NaN,4.662,NaN,4.490,4.442,4.451,4.449,4.420,4.478,4.583,4.638
14786,02HB029,2,2018,31,4.587,NaN,4.622,NaN,4.497,NaN,4.435,4.437,NaN,4.663,NaN,4.625